@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.6s ease-out;
}

.box {
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );
  border: solid 2px transparent;
  border-radius: 2em 10px 2em 10px;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #1E3E62,
    #FF6500 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

.box:hover {
  animation-play-state: paused;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.box-profile {
  width: 72dp;
  height: 44dp;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );
  /* border-bottom: solid 5px transparent; */
  border-radius: 1.5em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 80%,
    #1E3E62,
    #FF6500 99%,
    transparent
  );
  background: padding-box, var(--gradient-border) border-box,
    border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

/* Text Fill Gradient */
.text-fill {
  background: linear-gradient(45deg, #FF6500, #1097C8, #FF6500);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 200% 200%;
  animation: gradient-shift 3s ease infinite;
}

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Text Fill Gradient */
.text-fill-image {
  background-image: url('/src/assets/images/chisa_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Border / outline putih */
  -webkit-text-stroke: 0.001px white;
}
