@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
  font-family: 'Quicksand', sans-serif;

  min-height: 100vh; /* pastikan body selalu fullscreen */
  background-image: 
    linear-gradient(to top, rgba(8, 28, 41, 1), rgba(0, 255, 255, 0.8)),
    url("/src/assets/images/chisa_background.jpg"); /* path relatif dari vite/public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* biar scroll main content tetap */
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}